---

---

<div
  style="background: transparent;position: absolute;top: 0;width: 100vw;height: 100vh;left:0;z-index:0;pointer-events: none;"
  id="particles-js"
>
</div>
<script is:inline>
  window.onload = function () {
    particlesJS.load("particles-js", "/particles.json", function () {
      console.log("callback - particles.js config loaded");
    });
  };
</script>
